body{
    margin: 0;
    background-color: rgb(210, 183, 235);
}
.container{
    background-color: rgb(180, 116, 240);
    width: 80%;
    height: 85vh;
    margin: 4% 10%;
    padding-top: 1%;
     
}
.main{
    background-color: rgb(199, 135, 248);
    width: 80%;
    height: 80vh;
    margin: 2% 10%;
    box-shadow: 5px 10px 10px 5px;
    text-align: center;
}
.header{
    text-align: center;
    color:whitesmoke;
    font-size: 50px;
    font-weight: 700;    
}
 
.counter{
    border:none;
    font-size:200px;
    color:rgb(63, 33, 92);
    background-color:rgb(199, 135, 248) ;
     
}
 .change{
     background-color:  rgb(199, 135, 248);
     font-size: 30px;
 }
.decrement{
    padding:10px;
    margin-right: 100px;
   background-color: rgb(110, 74, 143);
   color:whitesmoke;
}
.decrement:hover{
    background-color:whitesmoke;
    color:rgb(110, 74, 143);
    cursor:pointer;
}
.increment{
    padding:10px;
    margin-left: 100px;
    background-color: rgb(110, 74, 143);  
    color:whitesmoke;
}
.increment:hover{
    background-color:whitesmoke;
    color:rgb(110, 74, 143);
    cursor:pointer;
}